body, html {

font-family: "Work Sans",Helvetica,Arial,sans-serif !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.jumbotron{

  background-color: #020731;

}

.icon{

  max-width: 200px;
  min-width: 200px;
  max-height: 200px;
  min-height: 200px;

}

.certification{

  max-width: 250px;
  max-height: 250px;
}

section {
  width: 100%;
  padding: 100px 7% 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #020731;
  height: 80vh;
  color: #fff;

}

  section:nth-of-type(2n) {
    background-color: #fff;
    color: #000;
  }

/* add back in for background image...
.background-image:before{
  /*padding-left: 15px;
  padding-right: 15px;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background: url("../images/matrix.jpg") no-repeat;

  /* Full height 
  height: 100%; 

  /* Center and scale the image nicely 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

*/


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;


}

.flex-item {
  
  padding: 5px;
  width: 25%;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin: auto;
  display: block;

}

.navbar-default .navbar-brand {
    color: white;
}


.navbar-default {
  color: white !important;
  background-color: #020731 !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;  
}


.navbar-default .navbar-nav > li > a {

   font-size: 20px; 
   color: #fff; 
   text-transform: uppercase;

}

.intro {
  font-size: 250%;
}

.media-object{
  max-width: 100px;
  max-height: 100px;
}

.text {
  color: white;
  font-family: Work Sans, Helvetica Neue, sans-serif;
}

.profile{
  width: 200px;
}

.image {
  width: 300px;
  height: 200px;
}

ul { 
  list-style: none;
}

footer {
  padding-top: 20px;
  background-color: #020731;
  padding-bottom: 20px;
}

.col-xs-1 {
    width: 4.5%; 
}

h1, h2, h3, h4 {
  font-family: Work Sans, Helvetica Neue, sans-serif;
  text-transform: uppercase;
}

p, ul, nav {
  font-family: Work Sans, Helvetica Neue, sans-serif;
}